.header {
  display: flex;

  position: relative;
  z-index: 5;

  height: 3.75rem;

  background: $grey-medium;

  box-shadow: 0.125rem 0.125rem 0.25rem rgba($black, 0.25);

  &__image {
    height: 2.5rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.75rem;

    background: $brand;
  }

  &__menu {
    display: flex;
    align-items: center;

    padding-right: 1rem;

    font-size: 1.5rem;

    @include lg {
      display: none;
    }

    &-toggle {
      border: solid thin $invisible;
      border-radius: 0.25rem;

      background: $invisible;

      cursor: pointer;

      @include transitions;

      &:focus {
        border: solid thin $brand;
        outline: none;
      }

      &:hover {
        color: $brand;
      }
    }
  }

  &__title {
    display: flex;
    flex: 1;
    align-items: center;

    padding-left: 1rem;

    font-size: 1.5rem;
  }
}
